@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.fourofour{
    border: 5px solid rgba(245, 245, 245, 0.5);
    border-radius: 40px;
    background: rgba(245, 245, 245, 0.6);
    padding: 20px;
    width: 600px;
    margin: auto;
    font-family: overpass;
    text-align: center;
    color: #ccc;
    text-shadow: black 2px 2px 2px;
    background-image: url(../images/tile4.png);
    position: absolute;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    height:230px;
    box-shadow: black 6px 6px 4px;
}

body{
    background-color: black;
    background-image: url(../images/tile5.png);
}

.fourofour h1{
    font-size: 60px;
}

.fourofour p{
    font-size: 20px;
}

.bl{
    position: absolute;
    bottom:1.5%;
    right:1%;
}

.funnybutton{
    color:blue;
    border-radius: 10px;
}