@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');

.font {
  font: 200px/210px 'Open Sans', sans-serif;
  width: 250px;
  text-align: center;
  height: 250px;
  position: fixed;
  margin: auto;
  top: 90;
  left: 0;
  bottom: 0;
  right: 0;
  color: pink;
  transform: rotate(90deg);
}

.left {
  font-size: 120px;
  left: -290px;
  top: -290px;
}

.right {
  font-size: 120px;
  left: -34px;
  top: -290px;
}

.head {
  font-size: 500px;
  font-weight: 300;
  top: -150px;
  left: 165px;
}

p{
    padding-left: 430;
    padding-top: 400;
    font-size: 40;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: black 1px;
}

.info p{
    color: #87C6FF;
}